.jumboimg {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.hero-alt {
  max-width: 750px;
  margin: 0px auto;
}

.lead {
  font-weight: bold;
  margin: 30px auto;
  text-align: center;
}

.brandtitle {
  font-family: "Bebas Neue", cursive;
}
