.jumboimg {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.hero-alt {
  max-width: 750px;
  margin: 0px auto;
}

.lead {
  font-weight: bold;
  margin: 30px auto;
  text-align: center;
}

.brandtitle {
  font-family: "Bebas Neue", cursive;
}

h1 {
  font-family: "Bebas Neue", cursive;
}

h2 {
  text-align: center;
  padding: 10px;
  font-family: "Bebas Neue", cursive;
}

h5 {
  text-align: center;
  padding: 10px;
  font-family: "Bebas Neue", cursive;
}

p {
  font-family: "Abel", sans-serif;
}

.whitesneaks {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}
