// Colours
$primary: #efebe9;
$secondary: #795548;
$third: #4e342e;

// Nav links
$navbar-light-color: black;
$navbar-light-active-color: $third;

// Radio Buttons
$form-check-input-checked-color: $primary;
$form-check-input-checked-bg-color: $secondary;
