.pwlabel {
  margin-top: 10px;
}

.adminmenu-top {
  display: flex;
}

#loginbtn {
  margin-bottom: 150px;
}

#logoutbtn {
  margin: 10px;
}

#addbtn {
  margin-top: 30px;
  margin-bottom: 150px;
}

.form-check {
  margin-top: 20px;
}

.form-check-label {
  margin-top: -20px;
}

label {
  margin: 20px 0px 10px 0px;
}
