.jumbotron {
  padding: 2px;
  margin: 20px auto;
}

.hero-alt {
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.shopbtn {
  margin: 0px auto;
}

.carousel {
  margin: 30px 0px 30px 0px;
  max-width: 1200px;
  margin: 0px auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
