.navbar-expand-lg {
  background-color: $primary;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menu-container {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

a.nav-link {
  color: $secondary;
}

.brandtitle {
  font-size: 20px;
  margin-right: 40px;
}

.logo {
  width: 70px;
  height: 70px;
}

#searchbar {
  margin: 0px 0px 0px 5px;
}

#searchbtn {
  margin-right: 5px;
}

.usergreet {
  display: block;
  margin: 15px;
}

@media (min-width: 900px) {
  #searchbar {
    max-width: 10%;
    margin-left: 20px;
  }
}
